
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# Terraform lock file
.terraform.lock.hcl

# Operating system
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
